/* For mobile */
@media screen and (min-width: 320px) and (max-width: 576px) {
    /* navbar section starts here */
  .nav-container {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-top: 30px;
  }
  .nav-logo-container {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .nav-items-container {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  
  .follow-us{
    margin-bottom: 15px;
  }
 /* navbar section ends here */
 /* banner section starts here */



 /* banner section ends here */
}
/* For tablet */
@media screen and (min-width: 576px) and (max-width: 768px) {
     /* navbar section starts here */
    .nav-container {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-top: 30px;
      }
      .nav-logo-container {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
      }

      .nav-items-container {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
      }
      .follow-us{
        margin-bottom: 15px;
      }
     /* navbar section ends here */
     /* banner section starts here */




     /* banner section ends here */
    }
     
